{% extends 'base.html' %}
{% block content %}
<body class="homepage is-preload">
  <div id="page-wrapper">
      <section class="carousel">
          <div class="reel"><p><br><br></p>

            <article>
                <a href="#" class="image featured"><img src="https://images.pexels.com/photos/2857716/pexels-photo-2857716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" /></a>
                <header>
                <h3>Marketing and Promoting Vacant Units</h3>
                </header>
                <p>
                  At Adeline, we market and promote your vacant units to help you get the best rental offers or deal.
                </p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="https://images.khaleejtimes.com/storyimage/KT/20170523/ARTICLE/170529588/AR/0/AR-170529588.jpg&MaxW=780&imageVersion=16by9&NCS_modified=20170523131523" alt="" /></a>
                <header>
                <h3>Pre move-in inspection</h3>
                </header>
                <p>
                  Before a tenant moves into your property, we do a pre-move inspection of your property, both internally and externally. 
                  We also record everything and send you regular updates.
                </p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="https://www.arabianbusiness.com/public/images/2021/03/18/cheques_1.jpg" alt="" /></a>
                <header>
                <h3>Rental cheque banking</h3>
                </header>
                <p>
                  We deposit the cheque of the rent collected on your behalf into your bank account and ensure that your money reaches you safely.
                </p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="https://static.ameinfo.com/a1daddc6-ca27-4de1-b30d-e121b047d6c0.jpg" alt="" /></a>
                <header>
                <h3>Move out inspection and key collection</h3>
                </header>
                <p>
                  Once a tenant decides to move out of your property, we take care of the move out inspection and collecting keys from the tenant.
                </p>
            </article>

            <article>
                <a href="#" class="image featured"><img src="https://media-cdn.tripadvisor.com/media/photo-s/12/e7/9a/47/al-bandar-rotana.jpg" alt="" /></a>
                <header>
                <h3>Tenant satisfaction and retention</h3>
                </header>
                <p>We know how important it is for the tenant to remain satisfied with the property. 
                  Thus, we make every effort to satisfy and retain your tenant at your Dubai property.
                </p>
            </article>

            

          </div>
      </section>
  </div>
</body>
{% endblock %}
