{% extends 'base.html' %}
{% block content %}
{% load static %}

<body class="homepage is-preload">
    <div id="page-wrapper">
        <div class="wrapper style2">
        
            <article id="main" class="container special"><p><br><br></p>
            <a href="#" class="image featured"><img src="https://media.istockphoto.com/photos/dubai-downtown-skyline-on-a-foggy-winter-day-picture-id1163368823?k=6&m=1163368823&s=612x612&w=0&h=VuIWFpLH6pUgq7-qGAwwU7p3NcLhw2xZoSA3tMZLcOE=" alt="" /></a>
            <header>
                <h2><a href="#">Why Dubai?</a></h2>
                <!-- <p>
                Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim
                pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
                </p> -->
            </header>
            <br>
            <p>
                Located on the eastern coast of the Arabic Peninsula, Dubai is popularly known for its world-class infrastructure, high-tech facilities, and extravagant luxuries. 
                If that doesn’t sound convincing enough to buy a property in Dubai, its strategic location, open economic policies, and efficient real estate laws are sure to blow your mind.
                Read on to know why Dubai is often an investor’s first choice to buy a property and invest therein. Is it the city’s old-world charm or the string of modern skyscrapers that lure the investors? 
                Here’s why people love to invest in Dubai, and you should too.
            </p>
            <br>
            <h3>Buy Now, pay Later</h3>
            <p>With attractive prices and flexible payment plans, people are looking to invest in Dubai. 
                The best part about investing in Dubai is that you can get the possession of the property by paying an ‘X’ amount and the rest you can pay later.  
                This way, you can even rent out your property before making the complete payment for the same.
            </p>
            <br>
            <h3>High Rental returns</h3>
            <p>
                Dubai is one of the cities with the highest rental returns worldwide. 
                The average rent you can expect on your Dubai property is somewhere around 7-10%, as compared to the rest of the world where it is below 4%.
            </p>
            <br>
            <h3>Guaranteed Home Loans</h3>
            <p>
                If you’re looking forward to investing in a property in Dubai, you can opt for a home loan which is guaranteed with no paperwork involved. 
                This loan is generally available at around 3-4%. So, even if you rent out your property after taking a loan, you can make money with the bank’s money. 
                That’s the beauty of investing in a property in Dubai.
            </p>
            <br>
            <h3>DLD- 100% Transparent</h3>
            <p>
                Dubai Land Resources Department has complete authority over the real estate sector in Dubai. It is 100% transparent and ethical. 
                The payment for the property is deposited in DLR’s escrow account and is released to the developers only after they have delivered the project.
            </p>
            <br>
            <h3>Currency Appreciation</h3>
            <p>
                The US dollar holds the strongest economic position. 
                Investing in Dubai is equivalent to investing in US dollars as the exchange rate between the US dollar and Dubai’s AED is fixed. 
                It doesn’t fluctuate.
            </p>
            <br>
            <h3>0% Tax</h3>
            <p>
                If you invest in Dubai, you not only get a higher rental, but there is no income tax also on the rental income you earn. This surely is like a cherry on the cake. 
                No wonder Dubai is a hub for global investors!
            </p>
            <br>
            <h3>Low Crime Rate</h3>
            <p>
                Dubai is a city with a low crime rate and high happiness index. 
                One of the safest places to own a property, the likelihood of crime is very low in Dubai.
            </p>
            <br>
            <h3>Large Expat Population</h3>
            <p>
                One of the most globally diverse places, Dubai has a large expatriate population with people from 200+ countries living in harmony. 
                This population is increasing with each passing year. As per the research, Dubai population is to hit 5.2m by 2030. 
                Needless to say, the demand for rental property will only see an uprising trend, and as a landlord, you’ll be in a better position to maneuver the rate.
            </p>
            <br>
            <h3>Easy Accessibility</h3>
            <p>
                The Dubai city enjoys a strategic location with direct connectivity to all the major cities of the world. 
                It is easily accessible with direct flight connectivity.
            </p>
            <br>
            <h3>Status Symbol</h3>
            <p>
                Investing in Dubai is considered to be a status symbol. People who are looking for investment options, find Dubai to be one of the most luxurious and glamorous places to have a home.
                Who’ll remain untouched with such a charm when you have an option to flaunt?
                When it comes to rising demand for properties and high investment potential, Dubai continues to top the list! Afterall, it’s is a safe heaven for investors.
                If you plan to buy and invest in a property in Dubai, contact Adeline Holdings Pvt Ltd today!
            </p>
            
            </article>

        </div>
    </div>
</body>

{% endblock %}