{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Event Manager </title>
    </head>

    <body>
        <main>
            <header>
                <img src="https://sociotalks.blog/logo.PNG/">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#">Event Manager</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home' %}">Search</a></li>
                        <li><a href="{% url 'add' %}">Add</a></li>
                        <li><a href="{% url 'delete' %}">Delete</a></li>
                        <li><a href="{% url 'edit' %}">Edit</a></li>
                        <li><a href="{% url 'viewall' %}">View all</a></li>
                      </ul>
                    </div>
                  </nav>
            </header>
            {% if delete == False %}
                <form action="{% url 'search' %}" method="POST">
                    {% csrf_token %}
                    <input name="customer_name" type="text" placeholder="Enter customer's name" required>
                    <input type="submit" name="search" class="btn btn-primary">
                </form>
            {% else %}
                <form action="{% url 'deletepage' %}" method="POST">
                    {% csrf_token %}
                    <input name="customer_name" type="text" placeholder="Enter customer's name" required>
                    <input type="submit" name="delete" class="btn btn-primary">
                </form>
            {% endif %}

            {% if edit is True %}
                <form action="{% url 'editpage' %}" method="POST">
                    {% csrf_token %}
                    <input name="customer_name" type="text" placeholder="Edit the customer's name" required>
                    <input type="submit" name="edit" class="btn btn-primary" style="display:none">
                </form>
            
            {% endif %}

            <footer class="container">
                <!-- <div > -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <a href="mailto:vedantsharma24052001@gmail.com">Mail Us</a>
                            </div>
                            <div class="col-md-4">
                                <a href="tel:8586063895">Call Us</a>
                            </div>
                            <div class="col-md-4">
                                <a>Event Manager &copy;</a>
                            </div>
                        </div>
                    </div>
            </footer>
        </main>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>

<style>
    footer {
        background-color: bisque;
        position: fixed;
        bottom:0;
    }
    footer div a {
        color:blue;
        font-size: 32px;
    }
    footer div a:hover {
        transform:scale(1.2);
        color:#ccc;
    }
</style>