<html>
    <head>
        <title>This is my first django app!</title>
    </head>

    <body>
        {% if form is True %}
            <form action="{% url 'formprocess' %}" method="POST">
                {% csrf_token %}
                <input name="username" type="text" required>
                <input name="location" type="text" required>
                <input type="submit">
            </form>
        {% else %}
            <h1>This is my home page.</h1>
        {% endif %}
    </body>
</html>

<style>
    h1 {
        color: green;
    }
</style>