<html>
    <div class="container text-center">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <h1>About the maker</h1>
    Hi, my name is Vedant Sharma.<br> 
    I am a student of BVCOE.<br>
    I am currently in the 2nd year of my engineering.<br>
    I passed out from SMAPS in the year 2019.<br>
    I have made this tutorial website using django.<br>

    <a href="{% url 'home' %}">Home</a>
    </div>
</html>